<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.storefront.imagestore"
      version="0.1.0">
    <name>Local Images</name>
    <description>Query Local Images on a device and retrieve their data as dataUrls</description>
    <license>Apache 2.0 License</license>
    <keywords>mediastore,cordova,images</keywords>

    <js-module src="www/imagestore.js" name="imagestore">
        <clobbers target="ImageStore" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalImages" >
                <param name="android-package" value="com.storefront.imagestore.ImageStore"/>
            </feature>
        </config-file>

        <source-file src="src/android/ImageStore.java" target-dir="src/com/storefront/imagestore" />
    </platform>
</plugin>
