<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.plugins.FacebookConnect"
      version="3.0.4">

    <name>FacebookConnect</name>

    <js-module src="www/FacebookConnect.js" name="FacebookConnect">
        <clobbers target="FacebookConnect" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalImages" >
                <param name="android-package" value="org.apache.cordova.plugins.FacebookConnect.FacebookConnect"/>
            </feature>
        </config-file>
        
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
             <activity android:name="org.apache.cordova.plugins.FacebookConnect"
                               android:label="@string/app_name">
                     <intent-filter>
                     </intent-filter>
             </activity> 
        </config-file>

        <source-file src="src/android/FacebookConnect.java" target-dir="src/org/apache/cordova/plugins/FacebookConnect" />
        <source-file src="src/android/facebook-android-sdk.jar" target-dir="libs/" />
    </platform>
</plugin>
